.display-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-task {
    display: flex;
    background-color: #444;
    justify-content: space-between;
    padding:0px 20px;
    border-radius: 5px;
    color: #eee;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    width: 100%;
}

.button-container {
    width:100%;
    justify-content: space-between;
}

.button-display {
    width: 40px;
    background: none;
    border: none;
}